.form {
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.label {
    margin-bottom: 10px;
}

.input {
    float: right;
    padding: 2px;
    border-radius: 5px;
}

.button {
    width: fit-content;
    flex: none;
    align-self: center;
}

.linkToCreate {
    color: blue;
    font-weight: bold;
}

.tooltip-container {
    position: relative;
    display: inline-block;
}

.tooltip {
    visibility: hidden;
    width: 200px;
    background-color: #333;
    color: white;
    text-align: center;
    border-radius: 5px;
    padding: 8px;
    position: absolute;
    bottom: 125%;
    margin-left: -100px;
    opacity: 0;
    transition: opacity 0.3s;
    font-size: 12px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
}

.tooltip-container:hover .tooltip {
    visibility: visible;
    opacity: 1;
}

.error {
    font-size: 12px;
    list-style: none;
    color: red;
}
