.form {
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.label {
    margin-bottom: 10px;
}

.input {
    float: right;
    padding: 2px;
    border-radius: 5px;
}

.button {
    width: fit-content;
    flex: none;
    align-self: center;
}