.student-image{
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 10%;
    margin-top: 8px;
}

.center-container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.student-details-body{
  width: 320px;
  min-height: 400px;
  background: rgba(255, 255, 255, 0.1);  
  backdrop-filter: blur(40px); 
  padding: 10px;
  border-radius: 1rem;
  box-shadow: 0 3px 15px rgba(0, 0, 0, 0.25); 
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white; 
  line-height: 30px;
}