* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
}

body {
  background-image: url('https://www.educationunlimited.com/blog/wp-content/uploads/2019/08/Webp.net-compress-image.jpg');
  background-repeat: no-repeat;        
  background-size: cover;              
  background-position: center center;  
  background-attachment: fixed;        
}


.title {
  color: #ffffff;
  font-size: 3rem;
  font-weight: 700;
  text-align: center;
  margin-bottom: 2rem;
}

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}


html, body, #root {
  height: 100%;
  margin: 0;
}

.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh; 
}
.content {
  flex: 1; 
}

